@import "variables";

.chart
{
    .chart-axis
    {
        .chart-order-flag
        {
            rect
            {
                fill: #FFF;
            }

            text
            {
                fill: #333;
                font-size: 11px;
                font-weight: 700;
                font-family: @font-family;
            }
        }
    }

    .panel .chart-order-tools
    {
        position: absolute;
        top: 0;
        right: 180px;
        height: 21px;
        background: @pane-background-color;
        padding: 1px;
        z-index: 2;
        display: flex;
        align-items: center;
        font-size: 11px;
        font-weight: 700;
        font-family: @font-family;
        line-height: 19px;
        user-select: none;
        cursor: row-resize;

        .base
        {
            background: #FFF;
            color: @primary-color-up;
            padding: 0 6px;
            font-weight: 500;
        }

        .estimate
        {
            background: @primary-color-up;
            color: @text-color;
            padding: 0 6px;
            margin-left: 1px;
            position: relative;
            cursor: default;
        }

        .cancel
        {
            margin-left: 1px;
            height: 19px;
            width: 19px;
            background: url('via://charts/images/close.svg') 5px 5px no-repeat @primary-color-up;
            background-size: 9px auto;
            cursor: default;

            &:hover
            {
                background-color: darken(@primary-color-up, 20%);
            }
        }

        &.hide
        {
            display: none;
        }

        &.pending
        {
            .estimate
            {
                &::after
                {
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: "Transmit";
                    background-color: darken(@primary-color-up, 20%);
                    color: @text-color;
                    text-align: center;
                    display: none;
                }

                &:hover
                {
                    &::after
                    {
                        display: block;
                    }
                }
            }
        }

        &.sell
        {
            .base
            {
                color: @primary-color-down;
            }

            .estimate, .cancel, .estimate::after
            {
                background-color: @primary-color-down;
            }

            .cancel:hover
            {
                background-color: darken(@primary-color-down, 20%);
            }
        }
    }

    .panel .layer.chart-trades
    {
        path.chart-order-line
        {
            stroke: #FFF;
            fill: transparent;
            stroke-width: 1px;
            stroke-dasharray: 2;
            pointer-events: none;
        }
    }
}
